.App {
}

.layout {
  min-height: 100vh;
}

.header {
  background: var(--color-bg-2);
  height: 56px;
  border-bottom: 1px solid var(--color-border);
}

.logo {
  height: 56px;
  line-height: 56px;
  margin-left: 24px;
  color: var(--color-text-1);
  font-weight: 700;
  font-size: 20px;
}

.content {
  background: var(--color-bg-2);
}

.arco-tabs-header{
  text-align: center;
  width: 100%;
  background: var(--color-bg-3);
  border-bottom: 1px solid var(--color-border);
}

.card-col{
  padding: 16px;
}
