.App {
}

.layout {
  min-height: 100vh;
}

.header {
  background: #001529;
  height: 56px;
}

.logo {
  height: 56px;
  line-height: 56px;
  margin-left: 24px;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.content {
  background: #f0f2f5;
}

.arco-tabs-header{
  text-align: center;
  width: 100%;
  background: #fff;
}

.card-col{
  padding: 16px;
}
